/*Global Settings*/
body {
    font: normal 17px/1.5 "roboto", sans-serif;
}

button {
    font: normal 15px/1.5 "roboto", sans-serif;
}


/*Custom Imported Settings*/


/*Navbar Settings*/
.menuButton {
    height: 42px;
    width: 42px;
    background-color: white;
    border: none;
    border-radius: 21px;
}

.menuButton:hover {
    background-color: lightgrey;
    transition: 0.3s;
}

.logoNavbar img {
    height: 24px;
    width: 90px;
}

.voiceInputButton img {
    height: 24px;
    width: 24px;
}



/*Category bar Settings*/
#categorySelect {

}

.categoryList {
    list-style: none;
    padding: 20px;
    display: flex;
    column-gap: 15px;
}

.categoryList li button {
    border: none;
    border-radius: 7px;
    height: 30px;

}


/*Recommended videos Settings*/
#recommendedVideos {
    width: 100px;
}

.recommendedVideosList {
    list-style: none;
    padding: 20px;
    display: flex;
    column-gap: 15px;
}

.recommendedVideosList img {
    height: 50%;
    width: 100%;
}
